.B3{
    background-image: url(https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80);
    background-position: center;
    background-size: cover;
    background-color: lightblue;

}
htnl{
    font-size: 62.5%;
}

div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgba(5, 7, 38, 0.8)
    
}  
.Ammar{
    background-color:  rgba(121, 119, 119, 0.5);

    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 135%;
    font-weight: 900;
    color: indigo;
    border-radius: 50px;
    width :98%;

    margin: 20 10 30 10;
    padding-top: 10px;
    
    
}


.btn, .btn-outline-success{
    border-radius: 3rem;
    background-color:white;
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    font-weight:bolder ;

}
.part1{
    background-color:  rgba(121, 119, 119, 0.5);
    border-radius: 20px;
    font-family: 'Fruktur', cursive;
    
    margin: 20 10 30 10;
    padding-top: 3.5rem;
    padding-bottom: 1rem;
    
}
#inp{
    border-radius: 1.5rem;
}

    a{
        font-size: 1rem;
        color: white;
    }
    footer {
    
        background-color: rgba(23, 36, 39, 0.6);
        border: solid 0.5rem brown;
        border-radius: 3rem;
        margin: 2rem;
        padding: 1rem 2rem;
        width: 97%; height: 38%;
        font-weight: bold;
        font-size: 1rem;
        color: rgb(216, 205, 50);
    }    
    #fotr:hover {

        float: center;
        font-size: 1rem;
        cursor: pointer;
        background-color: rgb(195, 107, 212);
        border-radius: 5rem;
        color: lightblue;
        font-weight: lighter;
        font-family: 'Righteous', cursive;
      }
      @media(max-width:400px){
        html{
          font-size: 60%;
        }
      }    