.body{
    background-color: lightblue;
}

.Umar{
    background-color:  rgba(121, 119, 119, 0.5);

    text-align: center;
    font-family: 'Lemonada', cursive;
    font-size: 135%;
    font-weight: 900;
    color: indigo;
    border-radius: 50px;
    width :98%;

    margin: 20 10 30 10;
    padding-top: 10px;
}